{% set containerWidth = width|default(200) %}

{% if theme|default("outline") == "outline" %}
    {% if size|default("medium") == "large" %}
        {% set containerHeight = 38 %}
        {% set iconWidth = 36 %}
        {% set padding = 2 %}
    {% elseif size|default("medium") == "medium" %}
        {% set containerHeight = 30 %}
        {% set iconWidth = 28 %}
        {% set padding = 2 %}
    {% elseif size|default("medium") == "small" %}
        {% set containerHeight = 18 %}
        {% set iconWidth = 16 %}
        {% set padding = 2 %}
    {% endif %}
{% else %}
    {% if size|default("medium") == "large" %}
        {% set containerHeight = 40 %}
        {% set iconWidth = 36 %}
        {% set padding = 2 %}
    {% elseif size|default("medium") == "medium" %}
        {% set containerHeight = 32 %}
        {% set iconWidth = 28 %}
        {% set padding = 2 %}
    {% elseif size|default("medium") == "small" %}
        {% set containerHeight = 20 %}
        {% set iconWidth = 16 %}
        {% set padding = 2 %}
    {% endif %}
{% endif %}
{% if type|default("default") == "icon" %}
    {% if theme|default("default") == "outline" %}
        {% set padding = 1 %}
    {% endif %}
    {% set containerWidth = iconWidth + 2 * padding %}
{% endif %}

<link href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;600&display=swap" rel="stylesheet">
<script>
    function authorizeGithub() {
        window.location.href="https://github.com/login/oauth/authorize?client_id={{ oauthClientID('github') }}&scope=user&state={{ oauthState('github') }}&redirect_uri={{ oauthRedirectUri('github') }}"
    }
</script>
<div id="github-sign-in" style="text-decoration:none;" onclick="authorizeGithub()">{% block button %}
        <div class="container" style="cursor: pointer;

                width:{{ containerWidth }}px;
                height:{{ containerHeight }}px;

                overflow: hidden;
        {% if shape|default("rectangular") == "rectangular" %}
                border-radius: 4px;
        {% elseif shape|default("rectangle") == "circle" %}
                border-radius: 32px;
        {% elseif shape|default("rectangle") == "square" %}
                border-radius: 4px;
        {% elseif shape|default("rectangle") == "pill" %}
                border-radius: 20px;
            {% endif %};

        {% if theme|default("outline") == "filled_blue" %}
        {% elseif theme|default("outline") == "filled_black" %}
        {% else %}
                border: 1px solid #dadce0;
        {% endif %}
        {% if theme|default("outline") == "filled_blue" %}
                background-color:#1a73e8;
        {% elseif theme|default("outline") == "filled_black" %}
                background-color:#202124;
        {% else %}
                background-color:white;
        {% endif %}
                display: flex;
        {% if logo_alignment|default("left") == "center" %}
                align-items: center;
                justify-content: center;
        {% endif %}
                align-items: center;
        {% if type|default("default") == "default" %}width: {{ width|default('270') }}px;{% endif %}
                ">
            <div class="inner-container" style="
                    display: flex;
                    align-items: center;

            {% if logo_alignment|default("left") == "center" %}margin-left: 50%;margin-right: 50%; {% endif %}
                    width:  {% if type|default("default") == "default" %}{{ width|default('270') }}px{% else %}{% if size|default("medium") == "medium" %}32px{% elseif size|default("medium") == "small" %}20px{% elseif size|default("medium") == "large" %}40px{% endif %};{% endif %};


                    padding:{{ padding }}px;
                    ">
                <svg style="
                        flex-shrink: 0;
                        background-color: white;
                        border-top-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                {% if type|default("default") == "icon" %}
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                {% endif %}
                {% if logo_alignment|default("left") == "left" %} {% endif %}
                    width:{{ iconWidth }}px;
                        "
                     aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true"
                     class="octicon octicon-mark-github v-align-middle">
                    <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
                </svg>
                {% if type|default("default") == "default" %}
                    <div style="padding-left: 8px;padding-right: 8px;
                            white-space: nowrap;
                            text-align: center;
                            width: 100%;
                    {% if theme|default("outline") == "filled_blue" %}
                            color: white;
                    {% elseif theme|default("outline") == "filled_black" %}
                            color: white;
                    {% else %}
                            color: #3c4043;
                    {% endif %}

                    {% if size|default("medium") == "small" %}

                            font-weight:400;
                            font-size: 11px;
                            letter-spacing: 0.3px;
                    {% elseif size|default("medium") == "large" %}

                            font-weight:500;
                            font-size: 14px;
                            letter-spacing: 0.25px;
                    {% else %}

                            font-weight:500;
                            font-size: 14px;
                            letter-spacing: 0.25px;
                    {% endif %}
                            font-family: 'Google Sans', arial, sans-serif;
                            ">
                        {{ text|default("Sign up with Github") }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endblock %}
</div>