
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script>
    window.onload = function() {
        google.accounts.id.initialize({
            client_id: '{{ oauthClientID("google") }}',
            callback: (response) => {
                window.location.href =  '{{ oauthRedirectUri('google')|raw }}?token='+ response.credential
            }
        });
        google.accounts.id.renderButton(
            document.getElementById('google-sign-in'),
            {
                theme: '{{ theme|default("outline") }}',
                width: '{{ width|default("270") }}px',
                locale: '{{ locale|default("en_EN") }}',
                type: '{{ type|default("standard") }}',
                size: '{{ size|default("medium") }}',
                text: '{{ text|default("signin_with") }}',
                shape: '{{ shape|default("rectangular") }}',
                logo_alignment: '{{ logo_alignment|default("left") }}',
            }
        );
    };
</script>
<div id="google-sign-in" style="overflow:hidden;
{% if type|default('standard') == 'icon' %}
{% if size|default('medium') == 'large' %}
    width:40px;
{% elseif size|default('medium') == 'medium' %}
        width:32px;
{% elseif size|default('medium') == 'small' %}
        width:20px;
{% endif %}
{% endif %}
"></div>